.table-bordered{
    border: 1px solid transparent !important;
}
table{

    
    width: 100%;
    padding: 10px!important;
       border-spacing: 0px 15px !important;
    border-collapse: separate !important;
            thead{
                font-size: 13px;
                line-height: 17px;
                color: black;
                font-weight: 700;
                font-family: "Lato";
                text-align: center;
                tr{
                    th{
                        border: 1px solid transparent!important;
                    }
                }
            }

            tbody{
                
               
                tr{
                    
                    background-color: white; 
                    border: 0;
                    background-color: #fff;
                    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
                    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
                    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
                    -o-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
                    border-radius: 10px;
                    -moz-border-radius: 10px;
                    -webkit-border-radius: 10px;
                    -o-border-radius: 10px;
                    
                    
                    
                
                    border-radius: 10px;
                    td:first-child {
                        
                        border-top-left-radius: 10px!important;
                        border-bottom-left-radius: 10px!important; 
                      }
                      td:last-child {
                        border-top-right-radius: 10px!important;
                        border-bottom-right-radius: 10px!important; 
                        
                    }

                        td{
                            text-align:center;
                            padding: 1.45rem!important;
                            font-size: 14px;
                            color: #354052;
                            border: 1px solid transparent  !important;
            
                            
                            

                        } 
                }
            }
}

.espacio-menor{
    
   
}
.th-menor{
    padding: 0px 10px;

}

.th-mayor{
    padding: 0px 70px;

}

.botones{
height: 80px;
width: 100%;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-flex-direction: row;
-ms-flex-direction: row;
flex-direction: row;
-webkit-flex-wrap: nowrap;
-ms-flex-wrap: nowrap;
flex-wrap: nowrap;
-webkit-justify-content: flex-end;
-ms-flex-pack: end;
justify-content: flex-end;
-webkit-align-content: stretch;
-ms-flex-line-pack: stretch;
align-content: stretch;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
margin-bottom: 20px;
                &__big{

            border-radius: 6px;
            padding: 15px 40px;
            font-size: 11px;
            line-height: 15px;
            color: #ffffff;
            font-weight: 900;
            font-family: "Lato";
            cursor: pointer;
            background-color: #bbc5d5;
        
                }
                &__small{

                    padding: 15px 20px;
                    border-radius: 6px;
        
                    font-size: 11px;
                    line-height: 15px;
                    color: #ffffff;
                    font-weight: 900;
                    font-family: "Lato";
                    cursor: pointer;
                    
                    width: 50px;
                        }
                        
}

.active{
    background-color: #002683;
}
.noactive{
    background-color: #bbc5d5;
}


.page-item.active{

    border-color: 1px solid transparent!important;
    background-color: transparent!important;
    &:focus{
        outline: none;
    }
    .page-link {
        background-color:  #002683 !important;
        border-color: 1px solid transparent!important;
        &:focus{
            outline: none;
        }
    }

}


.page-item{
    margin: 0px 10px!important;
    .page-link{
        
        padding: 15px 20px;
        border-radius: 6px;

        font-size: 11px;
        line-height: 15px;
        color: #ffffff;
        font-weight: 900;
        font-family: "Lato";
        cursor: pointer;
        background-color: #bbc5d5;
        width: auto;
        border-color: 2px solid transparent!important;
       
    }
}


.react-bootstrap-table-pagination{
    padding: 0px 10px;
}

#pageDropDown{

        padding: 15px 0px;
        border-radius: 6px;
        
        font-size: 11px;
        line-height: 15px;
        color: #ffffff;
        font-weight: 900;
        font-family: "Lato";
        cursor: pointer;
        background-color: #bbc5d5;
        width: 50px;
        border: 1px solid transparent;
}


.sweet-alert .btn-link{
    background-color: #06adff!important;
    color: white!important;

    text-decoration: none!important;
}

.sweet-alert .btn-link:hover{
    text-decoration: none!important;
    background-color: #039be7!important;
}

.sweet-alert .btn-link a{
    color: white!important;
    text-decoration: none!important;
}

.sweet-alert .btn-link a:hover{
    color: white!important;
    text-decoration: none!important;
}




.datos-usuario{
    padding: 10px 5px;

    color: #BBC5D5;

}
