body{
    background-color: #f7f8fa;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background-color: #f8f8f8;
    border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #18283b;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #4B4E53;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Lato', sans-serif;
    font-weight: 400;

}



.react-tabs__tab-panel--selected{
    background-color: white !important;
    border-radius: 5px;
    padding: 20px;

    min-height: 300px !important;
    -webkit-box-shadow: 0px 22px 48px -20px rgba(189,185,189,1);
-moz-box-shadow: 0px 22px 48px -20px rgba(189,185,189,1);
box-shadow: 0px 22px 48px -20px rgba(189,185,189,1);
}


.react-tabs__tab--selected {
    background-color: #f7f8fa !important;
    color: black;
    border-top: 2px solid transparent!important;
    border-left: 2px solid transparent!important;
    border-right: 2px solid transparent!important;
    border-bottom: 2px solid   #2873B7 !important;
    
}

.react-tabs__tab-list{
    border-bottom: 1px solid #BBC5D5!important;
}

.react-tabs__tab {
    display: inline-block;
    color: #BBC5D5;

    padding: 6px 12px;
    cursor: pointer;
    font-weight: bolder;
}

i{
    cursor: pointer;
}

.spinner{
    height: 300px;
}


.fa-search{
    color:black;
    font-size: 20px;
}

.search{
    height: 75vh;
}
.fa-eye{
    color: #322A7D;
}

.menues div{
        //margin: 0px 0px;
}


@media (max-width: 1399px) {
    .menues div{
        margin: 0px 0px;
        //display: none!important;
    }
    
}

 @media (min-width: 1400px) {
    .menues div{
        margin: 17px 0px;
        //display: none!important;
    }
    
}

.escritorio:hover{
   text-decoration: none;
}

.info-descripcion{
    color:  #002683;
    margin: 0px 10px;
    font-weight: 700;
    font-size: 14px;
}

.sortable:focus{
    outline: none;
}

th:focus{
    outline: none;
}

.barra{
    position: absolute;
    top: 16px;
    border-radius: 20px;
    width: 50%;
    z-index: 920;
    left: 25%;
    height: 38px;
    position: fixed;
    background-color: #F7F8FA;
    border: 1px solid transparent;
}


.barra-special{
    position: inherit;
    border-radius: 20px;
    width: 100%;
    z-index: 920;
    left: 25%;
    height: 38px;
    background-color: #F7F8FA;
    border: 1px solid transparent;
}


.search-alumno .search-label .form-control{
    
    border-radius: 20px 20px 20px 20px;
    border-left: 1px solid transparent;
    margin: 0px 4%;
    width: 98%;
    position: absolute;
    background-color: #F7F8FA;
    top: 55px;
    left: -22px;

}

.header-descripcion .search-label .form-control {
    border-radius: 0px 0px 0px 0px;
    border-left: 1px solid transparent;
    margin: 0px 0%;
    /* width: 100%; */
    /* z-index: 920; */
    /* left: 0%; */
    position: initial;
    background-color: #F7F8FA;
    border: 1px solid transparent;
    border-left: 1px solid transparent;
    /* width: 500%; */
    border-radius: 20px;
    width: 400px;
}


.search-label .form-control{
    position: absolute;
    top: 16px;
    border-radius: 0px 20px 20px 0px;
    border-left: 1px solid transparent;
    margin: 0px  4%;
    width: 46%;
    z-index: 920;
    left: 25%;
    position: fixed;
    background-color: #F7F8FA;
    border: 1px solid transparent;

    border-left: 1px solid transparent;
}

.search-label .form-control:focus {
    color: #495057;
    background-color: #F7F8FA;
    border-color: #F7F8FA!important;
    outline: 0;
    box-shadow: none;
    
}

.fa-clone{
    margin: 0px 0px 0px 15px;
}
    
.fa-caret-up{

    color: rgb(190, 190, 190);
}

.fa-caret-down{

    color: rgb(190, 190, 190);
}

.color{
    color: black;
}

.header-descripcion{
    width: 100%;
    height: 70px;
    padding: 20px 13px;
    color: #322A7D;
    margin: 0px;
    font-weight: bolder!important;
    border-bottom: 2px solid #F7F8FA;
    font-size: 14px;
    
}

.react-tabs__tab-panel--selected{
    padding: 5px 0px;
}
.datos{
font-size: 13px!important;
}


.contenedor-buscador{
}

.fas.fa-plus-circle{
    cursor: pointer!important;
    font-size: 20px!important;
    
}

.cupos{
padding: 10px;
background-color: #002683;
border-radius: 20px;
color: white;
font-weight: bolder;
}


.descripcion{
    font-size: 14px;
}


.datos-horarios{
    background-color:  #002683;
    border-radius: 20px;
    color: white;
    font-weight: bolder;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    
    margin-top: 20px;
}

.datos-horarios h3{
    font-size: 21px;
}

.fa-question-circle{
    color:  #002683;
    font-size: 18px;
    margin-left: 13px;

}


.fa-arrow-left{
    font-weight: 900;
    position: absolute;
    top: 40px;
    left: 30px;
    font-size: 35px;
    color: #69519e;
}

.fa-arrow-left:hover{
    opacity: .5;
    animation-delay: .8;
}

.foot{
    background-color: #f7f8fa;
    height: auto;
}

body{
    background-color: #f7f8fa!important;
    
}

.fechas .desde{
    height: 15px;
    border: 2px solid #f7f8fa;
    background-color:  #f7f8fa;
}
.fechas .hasta{
    height: 15px;
    border: 2px solid #f7f8fa;
    background-color: #f7f8fa;
}

.btn-opacity{
    opacity: .5;
    pointer-events: initial;
}

.error-modificar{
    margin-top: 100px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.valor-padding{
    padding: 25px 18px;
}

.generar .fa-search{
    margin-left: 20px!important;
    font-size: 17px!important;
}

.scroll-cuotas{
    overflow-y: scroll !important;
    max-height: 70vh;
}

.generar-cuota .form-control{
    width: 30%;
}

.__react_component_tooltip.show{
    width: 50%;
}

.header-cuotas{
    padding: 20px 0px;
}

.fa-check-circle{
    font-size: 35px;
}

.listAlumno li{
    list-style:none;
}


.Toastify__toast-body{
    color: white !important;
    font-weight: bolder !important;
}