.activo{
    display:none;
}

.formulario__head{
    background-color: white;
    position:fixed;
    border-bottom: 2.8px solid #BBC5D5;
    width: 500px;
    z-index: 10000;
    color: #322A7D !important;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: start;
    -ms-flex-align: start;
    align-items: start;
    padding: 10px 20px 0px 29px;

}



.formulario__body{
    
    padding: 20px 30px;
    margin-top: 60px;

    .subtitulo{
        font-size: 15px;
        color: #322A7D;
        font-weight: "bolder"!important;
        
    }
}



.input-form{

    ::placeholder {
        color: #BBC5D5!important;
        font-size: 15px;
      }
            
    display:block;
    label{
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 13px/15px Arial;
        letter-spacing: var(--unnamed-character-spacing-0);
        text-align: left;
        font: normal normal normal 13px/15px Arial;
        letter-spacing: 0px;
        color: #BBC5D5;
        opacity: 1;
        margin: 0px;
    }
    .input{ 
    border-color: transparent;
    outline:none;
    width: 100%;
    height: 44px;
    border-radius: 6px;
    font-size: 13px;
    color: #bbc5d5;
    font-family: "Arial";
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #BBC5D5;
    border-radius: 4px;
    opacity: 1;
    margin: 10px 0px;
        &::placeholder{
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 13px/15px Arial;
            letter-spacing: var(--unnamed-character-spacing-0);
            text-align: left;
            font: normal normal normal 13px/15px Arial;
            letter-spacing: 0px;
            color: #BBC5D5;
            opacity: 1;
                }
}
}



.radio{

    width: 100%;
    padding: 20px 30px;
    
}
.radio label{
    margin: 0px 10px;
}
.formulario__footer{

    margin-top: 50px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: flex-end;
    -ms-flex-line-pack: end;
    align-content: flex-end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    }

.delete{
    margin-top: 5px;
    cursor: pointer;
}


input[type=date].form-control{
    color: #BBC5D5!important;
}

