.login{
    
    height: 100vh;


    .link{
        font-size: 13px;
        color: #bbc5d5;
        font-family: "Arial";
        margin-bottom: 35px;
        &:hover{
            text-decoration: none;
        }
    }
    

    &__img{
        
        background-image: url('../../img/pexels-vlada-karpovich-4050287.png');
        background-repeat: no-repeat;
        background-size: cover;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;

            &--content{ 

                @media (min-width: 1301px){
                    
                margin-top: 230px;

                }

                @media (max-width: 1300px){
                    
                    
                margin-top: 153px;

                    }
                    .title{
                    font-size: 45px;
                    color: #ffffff;
                    font-weight: 700;
                    font-family: "Raleway";
                }

                    .text{
                    width: 628px;
                    font-size: 16px;
                    color: #ffffff;
                    font-weight: 400;
                    font-family: "Lato";
                }
            }
    }

    
    &__form{
    
        background-color: white;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
        align-content: flex-start;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;


        label{
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 13px/15px Arial;
            letter-spacing: var(--unnamed-character-spacing-0);
            text-align: left;
            font: normal normal normal 13px/15px Arial;
            letter-spacing: 0px;
            color: #BBC5D5;
            opacity: 1;
            margin: 0px;
        }

         &--form{
            
            display:block;
            margin: 0% 50%;
            .input{ 
            border-color: transparent;
            outline:none;
            width: 290px;
            height: 44px;
            border-radius: 6px;
            font-size: 13px;
            color: #bbc5d5;
            font-family: "Arial";
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 1px solid #BBC5D5;
            border-radius: 4px;
            opacity: 1;
            margin: 10px 0px;
                &::placeholder{
                    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 13px/15px Arial;
                    letter-spacing: var(--unnamed-character-spacing-0);
                    text-align: left;
                    font: normal normal normal 13px/15px Arial;
                    letter-spacing: 0px;
                    color: #BBC5D5;
                    opacity: 1;
                        }
        }
    }
        &--register{

            width: 290px;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-align-content: center;
            -ms-flex-line-pack: center;
            align-content: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;

            p{
                font-size: 13px;
                color: #bbc5d5;
                font-family: "Arial";
                margin-top: 13px;
                
            }
            
        }


        img{
            width: 260px;
            height:30px;
    
            margin-bottom: 50px;
            
        }

        

    }


}