
button{
    outline:none !important;
    border-color: transparent;
}

.boton{
    width: 290px;
    height: 44px;
    border-radius: 6px;
    font-size: 12px;
    line-height: 17px;
    color: #ffffff;
    font-weight: 900;
    font-family: "Lato";
    cursor: pointer;
 
        &--google{
            background-color: #f35162;   
            margin-bottom: 13px;
          
        }
        &--facebook{
            background-color:#324398;
            margin-bottom: 15px;
        }
        &--login{
            background: #009DDC;
            margin-bottom: 13px;
            margin-top: 19px;
        
        }

}

    .boton-cuenta{
        width: 133px;
        height: 44px;
        border-radius: 6px;
        font-size: 12px;
        line-height: 17px;
        color: #ffffff;
        font-weight: 900;
        font-family: "Lato";
        background-color: #002683;
        cursor:pointer;
    }