.userInfo__head{
    margin-top:0px;

    &--buscador--full{
        display: flex;
        align-items: center;
           padding: 0px 15px;
            width: 100%;
            height: 44px;
            
            background: #F7F8FA 0% 0% no-repeat padding-box;
            border-radius: 100px;
            opacity: 1;
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 12px/16.8px var(--unnamed-font-family-lato);
            letter-spacing: var(--unnamed-character-spacing-0);
            text-align: left;
            font: normal normal normal 12px/17px Lato;
            letter-spacing: 0px;
            border-color:transparent;
        img{
            width: 18px;
            height: 18px;
            cursor: pointer;
            
            
            
        }
        span{
            margin-left: 12px;
            width: 0px;
            height: 18px;
            border: 1px solid #BBC5D5;
            opacity: 1;
        }
        input{
            
            background: #F7F8FA 0% 0% no-repeat padding-box;
            height: 18px;
            flex:1;
            border: none;
            outline:none;

            opacity: 1;
                &::placeholder{
                    color: #BBC5D5;
                }
        }
    }
        &--buscador{
            display: flex;
            align-items: center;
               padding: 0px 15px;
                width: 250px;
                height: 44px;
                
                background: #F7F8FA 0% 0% no-repeat padding-box;
                border-radius: 100px;
                opacity: 1;
                font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 12px/16.8px var(--unnamed-font-family-lato);
                letter-spacing: var(--unnamed-character-spacing-0);
                text-align: left;
                font: normal normal normal 12px/17px Lato;
                letter-spacing: 0px;
                border-color:transparent;
            img{
                width: 18px;
                height: 18px;
                cursor: pointer;
                
                
                
            }
            span{
                margin-left: 12px;
                width: 0px;
                height: 18px;
                border: 1px solid #BBC5D5;
                opacity: 1;
            }
            input{
                
                background: #F7F8FA 0% 0% no-repeat padding-box;
                height: 18px;
                flex:1;
                border: none;
                outline:none;

                opacity: 1;
                    &::placeholder{
                        color: #BBC5D5;
                    }
            }
        }


        &--buscador--navbar{
            display: flex;
            align-items: center;
               padding: 0px 15px;
                width: 65%;
                height: 44px;
                
                background: #F7F8FA 0% 0% no-repeat padding-box;
                border-radius: 100px;
                opacity: 1;
                font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 12px/16.8px var(--unnamed-font-family-lato);
                letter-spacing: var(--unnamed-character-spacing-0);
                text-align: left;
                font: normal normal normal 12px/17px Lato;
                letter-spacing: 0px;
                border-color:transparent;
            img{
                width: 18px;
                height: 18px;
                cursor: pointer;
                
                
                
            }
            span{
                margin-left: 12px;
                width: 0px;
                height: 18px;
                border: 1px solid #BBC5D5;
                opacity: 1;
            }
            input{
                
                background: #F7F8FA 0% 0% no-repeat padding-box;
                height: 18px;
                flex:1;
                border: none;
                outline:none;
    
                opacity: 1;
                    &::placeholder{
                        color: #BBC5D5;
                    }
            }
        }
        &--buscador--navbar--transparent{
            display: flex;
            align-items: center;
               padding: 0px 15px;
                width: 800px;
                height: 44px;
                
                background: white;
                border-radius: 100px;
                opacity: 1;
                font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 12px/16.8px var(--unnamed-font-family-lato);
                letter-spacing: var(--unnamed-character-spacing-0);
                text-align: left;
                font: normal normal normal 12px/17px Lato;
                letter-spacing: 0px;
                border-color:transparent;
            img{
                width: 18px;
                height: 18px;
                cursor: pointer;
                
                
                
            }
            span{
                margin-left: 12px;
                width: 0px;
                height: 18px;
                border: 1px solid #BBC5D5;
                opacity: 1;
            }
            input{
                
                background: #F7F8FA 0% 0% no-repeat padding-box;
                height: 18px;
                flex:1;
                border: none;
                outline:none;
    
                opacity: 1;
                    &::placeholder{
                        color: #BBC5D5;
                    }
            }
        }


        &--campana{
            img{
                padding: 13px 13px;
                
                border-radius: 70%;
                background: #F7F8FA 0% 0% no-repeat padding-box;
opacity: 1;
            
            }
        } 
}
.userInfo__datos{ 
    margin-top: 0px;
        p{
            margin-bottom: 0px;
        }
    &--text-1{
        font: var(--unnamed-font-style-normal) normal 300 22px/24px Raleway;
        letter-spacing: var(--unnamed-character-spacing-0);
        text-align: left;
        font: normal normal 300 22px/24px Raleway;
        letter-spacing: 0px;
        line-height: 35px;
        color: #11141A;
        opacity: 1;
    }
    &--text-2{
        font: var(--unnamed-font-style-normal) normal bold 28px/24px Raleway;
        letter-spacing: var(--unnamed-character-spacing-0);
        text-align: left;
        font: normal normal bold 28px/24px Raleway;
        letter-spacing: 0px;
        color: #11141A;
        opacity: 1;
    }
    &--link{
        font-size: 12px;
        line-height: 18px;
        color: #7f8fa4;
        font-weight: 400;
        font-family: "Lato";
        &:hover{
            text-decoration: none;
            color: #7f8fa4;
        }
    }
}

.userInfo__img{
    margin-top: 25px;
    img{
        width: 90px;
        height: 90px;
        border-radius: 45px;
        background-color:  #002683;
    }
}

.userInfo__notificaciones{
    margin-top: 25px;
    &--title p{
        font: var(--unnamed-font-style-normal) normal bold 18px/21px Raleway;
        letter-spacing: var(--unnamed-character-spacing-0);
        text-align: left;
        font: normal normal bold 18px/21px Raleway;
        letter-spacing: 0px;
        color: #11141A;
        opacity: 1;
    }
    &--link a{
        font: var(--unnamed-font-style-normal) normal bold 12px/15px var(--unnamed-font-family-lato);
        letter-spacing: var(--unnamed-character-spacing-0);
        text-align: left;
        font: normal normal bold 12px/15px Lato;
        letter-spacing: 0px;
        color: #FFA101;
        opacity: 1;
            &:hover{
                text-decoration: none;
            }
                img{
                    margin-left: 15px;
                    margin-top: 1px;
                 }

    }
}

    .userInfo__texto{
        ul{
            padding: 0px;
        }
        &__list{
            display:flex;
            img{
            padding-bottom: 6px;
            }
            &--text1{    
                margin-left: 20px;
                padding-top: 10px;        
                font-size: 14px;
                color: #354052;
                font-weight: 700;
                font-family: "Raleway";
            }
            &--text2{
                width: 205px;
                height: 15px;
                font-size: 12px;
                line-height: 14px;
                color: #7f8fa4;
                font-weight: 400;
                font-family: "Lato";
            }
        }
    }
    .userInfo__footer{
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        margin-top: 30px;
        display: flex;
            &--text{
             padding: 0px;
             /* padding-bottom: 20px; */
             font-size: 15px;
             color: #bbc5d5;
             font-weight: 700;
             font-family: "Raleway";
             padding: 0px;
             margin-right: -15px;
             margin-bottom: 19px;
            }
            &--img{

                
             margin-right: -20px;
                padding: 0px;
                margin: -16px 0px 0px 30px;
            }
    }

    .alumnos{ 
        &__title{
            font-size: 18px;
            color: #11141a;
            font-weight: 700;
            font-family: "Raleway";
        }
        h2{
            font-size: 22px;
            color: #666!important;
            margin-bottom: 15px;
            border-bottom: solid 1px #efefef;
            padding-bottom: 15px;
        }
        h3{
            font-size: 18px;
            color: #999!important;
            margin-bottom: 10px;
            border-bottom: solid 1px #efefef;
            padding-bottom: 10px;
            &:before{
                content: "";
                display: inline-block;
                width: 5px;
                height: 5px;
                border-radius: 200%;
                background-color: #999;
                margin-right: 10px;
            }
        }
        h4{
            font-size: 16px;
            color: #999!important;
            margin-bottom: 10px;
            border-bottom: solid 1px #efefef;
            padding-bottom: 10px;
            &:before{
                content: "";
                display: inline-block;
                width: 5px;
                height: 5px;
                border-radius: 200%;
                background-color: #999;
                margin-right: 10px;
            }
        }
        ul{
            margin-left: 15px;
            padding: 0px;
            li{
                margin: 0px 0px;
                cursor: pointer;
                list-style: none;
                padding: 2px 0px;
                font-size: 14px;
                line-height: 20px;
                color: #bbc5d5;
                font-weight: 700;
                font-family: "Lato";
                border-bottom: 1px solid #ffff;
                a{
                    color: #bbc5d5;
                    text-decoration: none;
                    padding: 5px 0px;
                    width: 100%;
                    display: block;
                    border-bottom: 2px solid transparent;
                    transition: all 280ms;
                    -o-transition: all 280ms;
                    -moz-transition: all 280ms;
                    -webkit-transition: all 280ms;
                    &:after{
                        content: "";
                        width: 0%;
                        height: 2px;
                        background-color:  #002683;
                        display: block;
                        margin-top: 2px;
                        transition: all 280ms;
                        -o-transition: all 280ms;
                        -moz-transition: all 280ms;
                        -webkit-transition: all 280ms;
                    }
                  &:hover:after{
                    width: 100%;
                  }
                  &:hover{
                    color:  #002683;
                  }
                }
              
            }
        }

    }

